@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto;', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #a09b9b;
}

#introduction,
#about,
#categories,
#search {
    animation: fadeUp 1s ease-out;
}

/* ANIMATIONS */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* NAVIGATION */

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 110px;
    margin-top: 12px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(49, 38, 38);
    font-weight: bold;
    padding: 8px;
    transition: all 600ms ease;
}

.nav__link:hover {
    color: whitesmoke;
}

.nav__link--primary:hover {
    text-decoration: underline;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    border: none;
    color: black;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
    transform: translate(100%);
}

.menu--open {
    height: 100vh;
    overflow: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 40px;
    color: white;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;

}

/* LOGO IMAGE */

.image__container {
    width: 100%;
    padding: 0px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__logo {
    height: 440px;
    width: 440px;
}

/* INTRODUCTION */

#introduction {
    width: 100%;
    padding-bottom: 24px;
}

.introduction__title {
    text-align: center;
    font-size: 36px;
    padding-top: 24px;
}

.introduction__description {
    text-align: center;
    font-size: 24px;
    margin-top: 12px;
}

/* ABOUT */

.about__title {
    text-align: center;
    font-size: 36px;
    padding-top: 24px;
}

.about__para {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 18px;
}

/* CATEGORIES */

#categories {
    width: 100%;
    padding-bottom: 48px;
    padding-top: 48px;
}

.categories__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    gap: 16px;
}

.categories__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 48px;
}

.category__card {
    width: 100%;
    max-width: 175px;
    height: 150px;
    background-color: #d1cece;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 8px;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    transition: all 300ms ease;
}

.category__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    transform: scale(1.05);
}

.category__image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 16px;
}


/* SEARCH */

.search__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 32px;
    font-size: 24px;
}

form {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;;
}

.searchInput {
    width: 100%;
    max-width: 340px;
    padding: 8px 8px;
    margin: 0 8px;
    font-size: 16px;
    display: inline-block;
    border: 2px solid #433f4d;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(215, 215, 215, 0.82);
}

.btn__search {
    background-color: #433f4d;
    color: white;
    padding: 6px 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 300ms ease;
}

.btn__search:hover {
    background-color: blue
}   

select {
    background-color: white;
    height: 40px;
    line-height: 40px;
    width: 100%;
    max-width: 200px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 0px 16px;
    outline: none;
    margin-left: 8px;
    font-size: 16px;
}

#movies {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 32px;
}

.movies__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #7342d6;
}

.movies__loading--spinner {
    display: none !important;
}

.movies__loading .movies__loading--spinner {
    display: block !important;
}

.fa-spinner {
    animation: rotate 500ms infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.searchResults {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
}

.movie__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 18px;
}

.movie__card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: black;
    background: #d1cece;
    height: 400px;
    width: 100%;
    cursor: pointer;
    transition: all 300ms ease;
}

.movie__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.movie__poster {
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 4px;
}

.movies__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #7342d6;
}

.movies__loading--spinner {
    display: none !important;
}

.movies__loading .movies__loading--spinner {
    display: block !important;
}

.fa-spinner {
    animation: rotate 500ms infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* FOOTER */

footer {
    height: 180px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    background-color: black;
}

.footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__link {
    color: white;
    text-decoration: none;
    margin: 0 8px;
    font-size: 20px;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__copyright {
    color: white;
    font-size: 20px;
    margin-top: 28px;
    text-align: center;
}

/* MEDIA QUERIES FOR DIFFERENT SCREEN SIZES */

@media (max-width: 768px) {
    .nav__link {
        font-size: 16px;
        padding: 0;
    }

    .logo {
    width: 80px;
    margin-top: 12px;
    }

    .image__logo {
    height: 340px;
    width: 340px;
    }

    .introduction__title,
    .introduction__description,
    .about__title,
    .categories__title {
        font-size: 24px;
    }

    .introduction__description {
        font-size: 16px;
        padding-right: 24px;
        padding-left: 24px;
    }
    
    #about .about__para {
        font-size: 16px;
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media (max-width: 550px) {
    #search {
        padding: 0 24px;
        flex-direction: column;
        align-items: center;
    }
    
    .form {
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
        margin-bottom: 16px;
    }

    .search__container {
        flex-direction: column;
        gap: 12px;
    }
}

@media (max-width: 480px) {
    .introduction__title,
    .about__title,
    .categories__title {
        font-size: 28px;
    }

    .introduction__title {
        padding-top: 12px;
        padding-right: 24px;
        padding-left: 24px;
    }

    .introduction__description,
    .about__para {
        font-size: 18px;
    }

    .logo {
    width: 68px;
    margin-top: 12px;
    }

}